@use "../../../assets/scss/ress";
@use "../../../assets/scss/mixins";

.container {
	width: 1024px;
	margin: 0 auto;
	height: 768px;
	display: grid;
	grid: 
			"header" 80px
			"body" 1fr
			"footer" 240px
			/ 1fr;
	grid-gap: 0;
}
.header {
	grid-area: header;
	background-color: pink;
}
.body {
	grid-area: body;
	background-color: green;
}
.footer {
	grid-area: footer;
	background-color: orange;
}
.cc {
	padding: 0;
	margin: 0;
}
.foo {
	@include mixins.test();
}
